{% extends "base.html" %}
{% block body %}
    <!--Body content-->
    <form>
    <fieldset>
        <legend>NMAP Scans Status</legend>
        <table id="tasktable" class="table table-striped">
        <th>Tasks</th><th>Created (UTC)</th><th>Comment</th><th>Status</th><th>Progress</th><th>Details</th><th></th>
        {% for nmap_task in tasks %}
            <tr>
                <td>{{ nmap_task['task_id'].id }}</td>
                <td id="{{ nmap_task['task_id'].id }}" > {{ nmap_task['created'] }}</td>
                <td id="{{ nmap_task['task_id'].id }}" > {{ nmap_task['comment'] }}</td>
                <td id="{{ nmap_task['task_id'].id }}" class="taskstatus">{{ nmap_task['task_id'].status }}</td>

                <td>
                    <div class="progress">
                        <div id="pb_{{ nmap_task['task_id'].id }}" class="progress-bar"
                            role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>

                {% if nmap_task['task_id'].result and 'report' in nmap_task['task_id'].result %}
                    <td class="detailslink" id="{{ nmap_task['task_id'].id }}">
                        <a href="{{ url_for('nmap.nmap_report', report_id=nmap_task['task_id'].id) }}">Details</a></td>

                {% else %}
                    <td class="detailslink" id="{{ nmap_task['task_id'].id }}">Details</td>

                {% endif %}

                <td>
                    <a href="/nmap/task/delete/{{ nmap_task['task_id'].id }}">
                        <span class="glyphicon glyphicon-trash"></span></a>
                </td>

            </tr>
        {% endfor %}
        </table>
    </fieldset>
    </form>
{% endblock %}
{% block javascript %}

    ajax_handler = function(){
        $.ajax({ url: "/nmap/jsontasks",
                 success: task_update_handler
        });
    }
    task_update_handler = function(jsontasks) {
            var tasklist = $.parseJSON(jsontasks);
            var all_done = true;
            $.each(tasklist, function(index, ntask){
                var pbarid = ntask.id + '.progress-bar';
                var pstatusid = ntask.id + '.taskstatus';
                var plinkid = ntask.id + '.detailslink';
                var details_link = "<a href=\"/nmap/report/" + ntask.id + "\">Details</a>";
                if((ntask.ready == 1) && ($.inArray(ntask.id, tasks_done) == -1)){
                    document.getElementById('pb_' + ntask.id).className = 'progress-bar progress-bar-success';
                    $('#pb_' + pbarid).css('width', ntask.progress+'%').attr('aria-valuenow', ntask.progress);
                    $('#' + pstatusid).text(ntask.status);
                    $('#' + plinkid).html(details_link);
                    tasks_done.push(ntask.id);
                    all_done = false;
                }
                else if(ntask.ready == 0) {
                    document.getElementById('pb_' + ntask.id).className = 'progress-bar progress-bar-striped active';
                    $('#pb_' + pbarid).css('width', ntask.progress+'%').attr('aria-valuenow', ntask.progress);
                    all_done = false;
                }
                else if($.inArray(ntask.id, tasks_done) == -1){
                    $('#' + pbarid).css('width', ntask.progress+'%').attr('aria-valuenow', ntask.progress);
                    $('#' + pstatusid).text(ntask.status);
                    all_done = false;
                }
            });
            if(all_done){
                clearInterval(interval_id);
            }
    };

    $(function () {
        ajax_handler();
        interval_id = setInterval(ajax_handler, 2000);

    });
{% endblock %}
