{% extends "base.html" %}
{% block title %}Compare Reports{% endblock %}
{% block body %}
    <!--Body content-->
    <form>
    <fieldset>
        <legend>Select nmap reports to compare (showing finished tasks only)</legend>
        <table id="tasktable" class="table table-striped">
            <th></th><th>Tasks</th><th>Created (UTC)</th><th>Comment</th><th>Status</th><th>Details</th>
        {% for nmap_task in tasks %}
            <tr>
                {% if nmap_task['task_id'].result and 'report' in nmap_task['task_id'].result %}
                    <td><input type="checkbox" name="task_id" value="{{ nmap_task['task_id'].id }}"></td>
                    <td>{{ nmap_task['task_id'].id }}</td>
                    <td id="{{ nmap_task['task_id'].id }}" >{{momentjs(nmap_task['created']).format('YYYY-MM-DD HH:mm:ss')}}</td>
                    <td id="{{ nmap_task['task_id'].id }}" > {{ nmap_task['comment'] }}</td>
                    <td id="{{ nmap_task['task_id'].id }}" class="taskstatus">{{ nmap_task['task_id'].status }}</td>
                    <td id="{{ nmap_task['task_id'].id }}" class="detailslink">
                        <a href="{{ url_for('nmap.nmap_report', report_id=nmap_task['task_id'].id) }}">Details</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
        <input type="submit" formmethod="post" formaction="compare" value="Compare">
    </fieldset>
    </form>
{% endblock %}
