{% extends "base.html" %}
{% block body %}
    <!--Body content-->
    <form>
    <fieldset>
        <legend>NMAP Scans Status</legend>
        <table id="tasktable" class="table table-striped">
        <th>Tasks</th><th>Status</th><th>Progress</th><th>Details</th><th></th>
        {% for nmap_task in tasks %}
            <tr>
                <td>{{ nmap_task.id }}</td>
                <td id="{{ nmap_task.id }}" class="taskstatus">{{ nmap_task.status }}</td>
                <!--<td><div id="{{ nmap_task.id }}" class="progressbar"></div></td> --
                <td><div id="progressTimer"></div></td>
                <td id="{{ nmap_task.id }}" class="detailslink">
                {% if nmap_task.result and 'report' in nmap_task.result %}
                    <a href="{{ url_for('nmap.nmap_report', report_id=nmap_task.id) }}">Details</a>
                {% else %}
                    Details
                {% endif %}
                </td>
                <td>
                    <a href="/nmap/task/delete/{{ nmap_task.id }}"><span class="glyphicon glyphicon-trash"></span></a>
                </td>

            </tr>
        {% endfor %}
        </table>

    </fieldset>
    </form>
{% endblock %}
{% block javascript %}
<script src="/static/js/jquery.progressTimer.js"></script>

        <script>
            $("#startProgressTimer").click(function() {
                $("#progressTimer").progressTimer({
                    timeLimit: $("#restTime").val()
                });
            });
        </script>

{% endblock %}
