.page-header {
    padding-bottom: 0px;
    margin: 70px 0 0px;
    border-bottom: 0px solid #eee
}

/* start form-create (/admin/add_user) */
.form-create {
  max-width: 330px;
  padding: 15px;
  padding-top: 0px;
  margin: 0 auto;
}
.form-create .form-create-heading,
.form-create .checkbox {
  margin-bottom: 10px;
}
.form-create .checkbox {
  font-weight: normal;
}
.form-create .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-create .form-control:focus {
  z-index: 2;
}
.form-create input[type="text"],
.form-create input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-create input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* end form-create (/admin/add_user) */
