<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other
        head content must come *after* these tags -->

    <title>{% block title %}{% endblock %} - Web Nmap</title>

    {% load staticfiles %}
    {% load sniplates %}
    {% load_widgets widgets_base="nmap/widgets_base.html" %}

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="/static/nmap/css/bootstrap-theme.min.css">-->

    <!-- custom nmap css -->
    <link rel="stylesheet" href="/static/nmap/css/custom-base.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/moment-with-locales.min.js"></script

  </head>

  <body role="document">

    <!-- navbar fixed -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">NWScanDB</a>
            </div>


            {% if user.is_authenticated %}
                <!-- Show this only for authenticated users:

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    {% widget "widgets_base:render_nav_link" title="Home" icon="home" link="/nmap/" %}
                    {% widget "widgets_base:render_nav_link" title="Scan" icon="fire" link="/nmap/scan/" %}
                    {% widget "widgets_base:render_nav_link" title="Tasks" icon="book" link="/nmap/tasks/" %}
                    {% widget "widgets_base:render_nav_link" title="Reports" icon="alt" link="/nmap/reports/1" %}
                    {% widget "widgets_base:render_nav_link" title="Addresses" icon="superscript" link="/nmap/addresses/1" %}
                    {% widget "widgets_base:render_nav_link" title="Compare" icon="random" link="/nmap/compare/" %}


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% widget "widgets_base:render_nav_link" title="Overview" icon="hdd" link="/nmap/db/" %}
                            <li role="separator" class="divider"></li>
                            {% widget "widgets_base:render_nav_link" title="Export" icon="export" link="/nmap/export/" %}
                            {% widget "widgets_base:render_nav_link" title="Import" icon="import" link="/nmap/import/" %}
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_superuser %} <!-- Admin link only for superusers -->
                        {% widget "widgets_base:render_nav_link" title="Admin Page" icon="cog" link="/admin/" %}
                    {% endif %}

                    {% widget "widgets_base:render_nav_link" title=user.username icon="user" link="/accounts/"|add:user.username|add:"/" %}

                    {% if remote_user %} <!-- __ remote_user __ -->
                        {% widget "widgets_base:render_nav_link" title="Log out" icon="off" link="/nmap/logout/" %}

                    {% else %} <!-- is None. -->
                        {% widget "widgets_base:render_nav_link" title="Log out" icon="off" link="/logout/" %}

                    {% endif %}


                </ul>


                <!-- //Show this only for authenticated users: -->
            {% else %}

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% widget "widgets_base:render_nav_link" title="Home" icon="home" link="/" %}
                </ul>

                <!-- unauthenticated visitors -->
                <ul class="nav navbar-nav navbar-right">
                    {% widget "widgets_base:render_nav_link" title="Admin" icon="cog" link="/admin/" %}
                    {% widget "widgets_base:render_nav_link" title="Log in" icon="user" link="/nmap/" %}
               </ul>
                <!-- //unauthenticated visitors -->
            {% endif %}


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav><!-- /.navbar fixed -->

    <!-- container-fluid main-page -->
    <div class="container-fluid main-page" role="main">

        <div class="page-header">
            <!-- Bootstrap display flashed messages -->
            <!-- possible values: alert alert-[info|success|warning|danger] -->
            <!--
            # django shortcut level methods
            [x] messages.info(request, 'All items on this page have free shipping.')
            [x] messages.success(request, 'Email sent successfully.')
            [x] messages.warning(request, 'You will need to change your password in one week.')
            [!] messages.error(request, 'We could not process your request at this time.'
            # Debug messages ignored by default
            [ ] messages.debug(request, 'The following SQL statements were executed: %s' % sqlqueries)

            # use in html:
            messages.info(request, "info: Invalid credentials!")
            messages.success(request, "success: Invalid credentials!")
            messages.warning(request, "warning: Invalid credentials!")
            messages.error(request, "error: Invalid credentials!")
            # Debug messages ignored by default settings.py: MESSAGE_LEVEL = message_constants.DEBUG
            messages.debug(request, "debug: Invalid credentials!")
            -->

            {% if messages %}
                {% for message in messages %}
                    <div
                            {% if message.tags and message.tags == "error" %}
                                class="alert alert-danger"
                            {% elif message.tags %}
                                class="alert alert-{{ message.tags }}"
                            {% endif %} >
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

      <div class="jumbotron" style="padding-bottom: 25px">
          {% block body %}{% endblock %}

          <div class="pull-right">
              Todo <a href="/changelog">Version x.y.z</a>&nbsp;
          </div>

      </div>

      <script type='text/javascript'>
          {% block javascript %}
          {% endblock %}
      </script>

    </div><!-- /.container-fluid -->
  </body>
</html>
