{% extends "base.html" %}
{% block title %}Admin_Users{% endblock %}
{% block body %}
    <!--Body content-->

        {% import '_helpers.html' as helpers %}

        <legend>Users &nbsp;<a href="/admin/add_user" data-toggle="tooltip" title="add User"><span class="glyphicon glyphicon-plus" style="font-size: 15px"><span></a></legend>
        <table id="usertable" class="table table-striped">
          <th class="admin"></th><th class="id">ID</th><th class="delete"></th><th>Username</th><th>E-Mail Address</th><th></th><th>Created (tbd)</th><th>Last Login (tbd)</th><th>Status (enabled/disabled) Toogle (tbd)</th><th>See Permissions (tbd)</th>

          {% for user in users.items %}
            <tr>
                <td id="{{ user.id }}">
                    {% if user.has_permission("admin") %}
                        <a href="#" data-toggle="tooltip" title="Admin"><span class="glyphicon glyphicon-fire text-danger"></span></a>
                    {% endif %}
                </td>
                <td id="{{ user.id }}">{{ user.id }}</td>

                <td id="{{ user.id }}">
                    <a href="/admin/user/{{ user.id }}/delete" data-toggle="tooltip" title="delete"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                </td>

                <td id="{{ user.id }}">{{ user.username }}</td>
                <td id="{{ user.id }}">{{ user.email }}</td>
                <td id="{{ user.id }}">
                    <a href="/admin/user/{{ user.id }}/change_password" data-toggle="tooltip" title="Change Password"><span class="glyphicon glyphicon-lock"></span></a>
                </td>
                <td id="{{ user.id }}">01.01.1970</td>
                <td id="{{ user.id }}">03.10.2015</td>
                <td id="{{ user.id }}">&nbsp;</td>
                <td id="{{ user.id }}">&nbsp;</td>
                <td id="{{ user.id }}">&nbsp;</td>
            </tr>
          {% endfor %}
        </table>

        {{ helpers.paginate(users) }}

{% endblock %}
