{% extends "base.html" %}
{% block title %}Admin_Add User{% endblock %}
{% block body %}
<!--Body content-->

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form-create" method="POST" action="/admin/add_user">
                <h3 class="form-create-heading">Add User</h3>
                <label for="inputText" class="sr-only">Username</label>
                <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
                <label for="inputEmail" class="sr-only">E-Mail</label>
                <input type=text" id="inputEmail" name="email" class="form-control" placeholder="user@example.com" required>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label><input type="checkbox" id="inactive" name="inactive" value="inactive"> Mark as disabled (tbd)</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}
