{% extends "base.html" %}
{% block title %}Admin_User_Groups{% endblock %}
{% block body %}
    <!--Body content-->

        {% import '_helpers.html' as helpers %}

        <legend>User Groups (Total: {{ items_paged.total }})&nbsp;<a href="/admin/add_user_group" data-toggle="tooltip" title="add User"><span class="glyphicon glyphicon-plus" style="font-size: 15px"><span></a></legend>
        <table id="usertable" class="table table-striped">
          <th class="admin"></th><th class="id">ID</th><th class="delete"></th><th>Name</th><th>Comment</th><th>Created (tbd)</th>

          {% for user_group in items_paged.items %}
            <tr>
                <td id="{{ user_group.id }}">
                    {% if user_group.name == "admin" %}
                        <a href="#" data-toggle="tooltip" title="Admin"><span class="glyphicon glyphicon-fire text-danger"></span></a>
                    {% endif %}
                </td>
                <td id="{{ user_group.id }}">{{ user_group.id }}</td>
                <td id="{{ user_group.id }}">
                    <a href="/admin/user_group/{{ user_group.id }}/delete" data-toggle="tooltip" title="delete"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                </td>
                <td id="{{ user_group.id }}">{{ user_group.name }}</td>
                <td id="{{ user_group.id }}">{{ user_group.comment }}</td>
                <td id="{{ user_group.id }}">Date &nbsp;</td>
            </tr>
          {% endfor %}
        </table>

        {{ helpers.render_pagination(items_paged, endpoint) }}

{% endblock %}
