{% extends "base.html" %}
{% block title %}Compared Reports{% endblock %}
{% block body %}
    <!--Body content-->
    <form>
    <fieldset>
        <legend>Compare nmap reports</legend>

        <div class="row">
            <div class="col-sm-2">
                <table id="changedtable" class="table table-striped" width=100px>

                <tbody>
                    <!--<th colspan=2>Summary</th>-->
                    <tr class="info"><td>Changed:</td><td class=text-right>{{changed|length}}</td></tr>
                    <tr class="danger"><td>Added:</td><td class=text-right>{{added|length}}</td></tr>
                    <tr class="warning"><td>Removed:</td><td class=text-right>{{removed|length}}</td></tr>
                </tbody>
                </table>
            </div>

        </div>

        <table id="changedtable" class="table table-striped">
          <th class="info">Changed Services</th>
          {% for changed_item in changed %}
          <tr>
              <td>
                {{ changed_item }}
              </td>
          </tr>
          {% endfor %}
        </table>
        <br>
        <table id="addedtable" class="table table-striped">
          <th class="danger">Newly discovered Services</th>
          {% for added_item in added %}
          <tr>
              <td>
                {{ added_item }}
              </td>
          </tr>
          {% endfor %}
        </table>
        <br>
        <table id="removedtable" class="table table-striped">
          <th class="warning">Removed Services</th>
          {% for removed_item in removed %}
          <tr>
              <td>
                {{ removed_item }}
              </td>
          </tr>
          {% endfor %}
        </table>

    </fieldset>
    </form>

{% endblock %}
