<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other
        head content must come *after* these tags -->

    <title>{% block title %}{% endblock %} - Web Nmap</title>

    {% load staticfiles %}
    {% load sniplates %}
    {% load_widgets widgets_base="nmap/widgets_base.html" %}

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/nmap/css/bootstrap.min.css">
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="/static/nmap/css/bootstrap-theme.min.css">-->

    <!-- custom css -->
    <link rel="stylesheet" href="/static/nmap/css/custom-base.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/nmap/js/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/nmap/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/nmap/js/moment-with-locales.min.js"></script

  </head>

  <body role="document">

    <!-- navbar fixed -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">NWScanDB</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    {% widget "widgets_base:render_nav_link" title="Home" icon="home" link="/nmap/" %}
                    {% widget "widgets_base:render_nav_link" title="Scan" icon="fire" link="/nmap/scan" %}
                    {% widget "widgets_base:render_nav_link" title="Tasks" icon="book" link="/nmap/tasks" %}
                    {% widget "widgets_base:render_nav_link" title="Reports" icon="alt" link="/nmap/reports/1" %}
                    {% widget "widgets_base:render_nav_link" title="Addresses" icon="superscript" link="/nmap/addresses1" %}
                    {% widget "widgets_base:render_nav_link" title="Compare" icon="random" link="/nmap/compare" %}


                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% widget "widgets_base:render_nav_link" title="Overview" icon="hdd" link="/nmap/db" %}
                            <li role="separator" class="divider"></li>
                            {% widget "widgets_base:render_nav_link" title="Export" icon="export" link="/nmap/export" %}
                            {% widget "widgets_base:render_nav_link" title="Import" icon="import" link="/nmap/import" %}
                        </ul>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if "foo" == "bar" %} <!-- current_user.has_permission("admin") -->

                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-wrench"></span>&nbsp; Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% widget "widgets_base:render_nav_link" title="Settings" icon="cog" link="/admin" %}
                            <li role="separator" class="divider"></li>
                            {% widget "widgets_base:render_nav_link" title="Users" icon="user" link="/admin/users" %}
                            {% widget "widgets_base:render_nav_link" title="User Groups" icon="user" link="/admin/user_groups" %}
                            {% widget "widgets_base:render_nav_link" title="Roles" icon="user" link="/admin/roles" %}
                            {% widget "widgets_base:render_nav_link" title="Abilities" icon="pawn" link="/admin/abilities" %}
                        </ul>
                    </li>
                    {% endif %}
                    {% widget "widgets_base:render_nav_link" title=current_user.username icon="user" link="/profile" %}
                    {% widget "widgets_base:render_nav_link" title="Logout" icon="off" link="/logout" %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav><!-- /.navbar fixed -->

    <!-- container-fluid main-page -->
    <div class="container-fluid main-page" role="main">

      <div class="page-header">
        <!-- Display flashed messages -->
        <!-- possible values: alert alert-[success|info|warning|danger] -->
        <!-- with messages = get_flashed_messages(with_categories=true) -->

            <!-- Need this blank line otherwise the flashed message would overlap
                with the navigation bar. -->
             <!-- for category, message in messages -->
                <!--
                <div class="alert alert-{{ category }}">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                -->

          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %} > {{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}

      </div>

      <div class="jumbotron" style="padding-bottom: 25px">
          {% block body %}{% endblock %}

          <div class="pull-right">
              Todo <a href="/changelog">Version x.y.z</a>&nbsp;
          </div>

      </div>

      <script type='text/javascript'>
          {% block javascript %}
          {% endblock %}
      </script>

    </div><!-- /.container-fluid -->
  </body>
</html>
