{% extends "base.html" %}
{% block title %}Compare Reports{% endblock %}
{% block body %}
    <!--Body content-->
    <form>
    <fieldset>
        <legend>Select nmap reports to compare (showing Meta Reports)</legend>
        <table id="tasktable" class="table table-striped">
            <th></th><th>Report</th><th>Created (UTC)</th><th>Comment</th><th>Details</th>
        {% for report_meta in nmap_report_meta_all %}
            <tr>
                <td><input type="checkbox" name="report_meta.id" value="{{ report_meta.id }}"></td>
                <td>{{ report_meta.id }}</td>
                <td id="{{ report_meta.id }}" >{{momentjs(timestamp=report_meta.task_created).format('YYYY-MM-DD HH:mm:ss')}}</td>
                <td id="{{ report_meta.id }}" > {{ report_meta.task_comment }}</td>
                <td id="{{ report_meta.id }}" class="detailslink">
                    <a href="{% url 'nmap:report' report_id=report_meta.id %}">Details</a></td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" formmethod="post" formaction="compare" value="Compare">
    </fieldset>
    </form>
{% endblock %}
