{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <!--Body content-->
    <legend>NMAP Web Tool</legend>
    <p>Bla desc bla</p>


    {% if contacts %}
        <ul>
        {% for contact in contacts %}
            <li>{{ contact }}, {{ contact.email }} </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

    <br/><br/>Remote_User: <br/>
    {% if remote_user %} is:
    {{ remote_user }}
    {% else %} is None
    {% endif %}

    <br/><br/>User: <br/>
    {{ user }}

    <br/><br/>User Authenticated: <br/>
    {{ user.is_authenticated }}

    <br/><br/>Permission for "foo.add_bar":<br/>
    {{ perms.foo.add_bar }}

    <br/><br/>Permission for "nmap.delete_contact":<br/>
    {{ perms.nmap.delete_contact }}

    <br/><br/>Permission for "nmap.stop_task":<br/>
    {{ perms.nmap.stop_task }}

    <br/><br/>Permission for "nmap.view_task":<br/>
    {{ perms.nmap.view_task }}

    <br/><br/>Url (nmapreport_task_id_view):<br/>
    {% url 'nmapreport_task_id_view' "f23f-sd1" %}

    <br/><br/>Url (nmapreport_view):<br/>
    {% url 'nmapreport_view' "1" %}

{% endblock %}
