{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <!--Body content-->
    <legend>NMAP Web Tool</legend>
    <p>Bla desc bla</p>


    {% if contacts %}
        <ul>
        {% for contact in contacts %}
            <li>{{ contact }}, {{ contact.email }} </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

    {% if request.user.is_authenticated() %}
        <p>Welcome, {{ request.user.username }}. Thanks for logging in.</p>
    {% else %}
        <p>Welcome, new user. Please log in.</p>
    {% endif %}

    <br/>Permission for "foo.add_bar"
    {{ request.user.has_perm('foo.add_bar') }}

    <br/>Permission for "nmap.delete_contact"
    {{ request.user.has_perm('nmap.delete_contact') }}


{% endblock %}
