{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block body %}
    <!--Body content-->
    <legend>Profile</legend>

    <br/><br/>User: <br/>
    {{ user }}

    <br/><br/>User Authenticated: <br/>
    {{ user.is_authenticated }}

    <br/><br/>is Staff: <br/>
    {{ user.is_staff }}

    <br/><br/>is Superuser: <br/>
    {{ user.is_superuser }}

    <br/><br/>Permission for "foo.add_bar":<br/>
    {{ perms.foo.add_bar }}

    <br/><br/>Permission for "nmap.delete_contact":<br/>
    {{ perms.nmap.delete_contact }}

    <br/><br/>Permission for "nmap.stop_task":<br/>
    {{ perms.nmap.stop_task }}

    <br/><br/>Permission for "nmap.view_task":<br/>
    {{ perms.nmap.view_task }}
    <br>

    <p>You are member of:
        {% for orgunit in orgunits %}
            {{ orgunit }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>

{% endblock %}
