{% extends "base.html" %}
{% block title %}Admin_Add Permission{% endblock %}
{% block body %}
<!--Body content-->

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form-create" method="POST" action="/admin/add_permission">
                <h3 class="form-create-heading">Add Permission</h3>
                <label for="inputText" class="sr-only">Name</label>
                <input type="text" id="inputName" name="name" class="form-control" placeholder="Name" required autofocus>
                <label for="inputText" class="sr-only">Name</label>
                <input type="text" id="inputComment" name="comment" class="form-control" placeholder="Comment">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}
